*
{
    font-family:sans-serif;
        }
        body {
            background-image: url("background.png");
        }

        h1 {
            color: white;
            text-align: center;
            text-decoration: underline;
            border-style: outset;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 400px;
            width: 80%;
        }
